html {
    height: 100%;
}

body {
    background: url('/media/emerald-lake-panorama.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.header {
    background-color: white;
    color: green;
}

a[href] {
    color: green;
}

a[href]:hover {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
}

.strong-text {
    font-family: 'Kanit', sans-serif;
    color: green;
}

#special-banner {
    background: green;
}

.title {
    font-family: 'Kanit', sans-serif;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

.fa-icon {
    color: green;
}

.nav-link {
    color: green;
    text-decoration: none;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: green;
}

.icon-sm {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: green;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: white;
    min-width: 260px;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background: #222;
    color: green;
}

.bag {
    border: none;
    background: white;
    color: green;
}

.bag:hover {
    background: black;
    color: green;
}

.btn:hover {
    background: black;
    color: white;
}


.text-black {
    color: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: green !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

tr, td {
    color: green;
}

h2 {
    color: green;
}

.sub-title {
    color: green;
}

.text-grn {
    color: green;
}

/* -------------------------------- Pagination */

.pagination ul li {
    background: green;
    color: white;
}

#pagination {
    display: inline-block;
}

/* -------------------------------- Card Image */

.card-img {
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    height: 188px;
    max-width: 250px;
    object-fit: cover;
}

.prod-img {
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    border-radius: 2%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}