<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=colour&direction=asc" class="dropdown-item ">By Colour</a>
                <a href="{% url 'products' %}?sort=size&direction=asc" class="dropdown-item ">By Size</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'products' %}?category=mountain" class="dropdown-item">Mountain</a>
                <a href="{% url 'products' %}?category=woodland" class="dropdown-item">Woodland</a>
                <a href="{% url 'products' %}?category=plant " class="dropdown-item">Plant</a>
                <a href="{% url 'products' %}?category=animal" class="dropdown-item ">Animal</a>
                <a href="{% url 'products' %}?category=places" class="dropdown-item ">Places</a>
                <a href="{% url 'products' %}?category=beachfront" class="dropdown-item ">Beachfront</a>
                <a href="{% url 'products' %}?category=mountain,woodland,plant ,animal,places,beachfront" class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="colour-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Colour
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="colour-link">
                <a href="{% url 'products' %}?colour=Green" class="dropdown-item">Green</a>
                <a href="{% url 'products' %}?colour=Blue" class="dropdown-item">Blue</a>
                <a href="{% url 'products' %}?colour=Yellow" class="dropdown-item ">Yellow</a>
                <a href="{% url 'products' %}?colour=White" class="dropdown-item ">White</a>
                <a href="{% url 'products' %}?colour=Grey" class="dropdown-item ">Grey</a>
                <a href="{% url 'products' %}?colour=Brown" class="dropdown-item ">Brown</a>
                <a href="{% url 'products' %}?colour=Black" class="dropdown-item ">Black</a>
                <a href="{% url 'products' %}?colour=Red" class="dropdown-item ">Red</a>
                <a href="{% url 'products' %}?colour=Green,Blue,Yellow,White,Grey,Brown,Black,Red" class="dropdown-item">All Colours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="size-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Size
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?size=Standard" class="dropdown-item">Standard</a>
                <a href="{% url 'products' %}?size=Panorama" class="dropdown-item">Panorama</a>
                <a href="{% url 'products' %}?size=Standard,Panorama" class="dropdown-item">All Sizes</a>
            </div>
        </li>
    </ul>
</div>