{% extends 'base.html' %}
{% load static %}
{% load normalize_title %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Combination Management</h2>
                <h5 class="text-muted">Edit a Combination</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
               <div class="combination-selecter">
                    <form class="combination-selecter">
                        <div class="row">
                            <label class="dropdown">Select a Combination: </label> 
                                <select name="combination_details" id="combination_details">
                                    {% for combination in combinations %}               
                                        <option value="{{ combination.pk }}" data-product_id="{{ combination.pk }}" id="{{ combination.pk }}">{{ combination.name }} - {{ combination.option }}</option>
                                        <button>
                                            <a href="{% url 'edit_combination' combination.pk %}" class="btn rounded-0 btn-lg">
                                                <span class="text-uppercase">Select Combination</span>
                                            </a>
                                        </button>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
