{% extends 'base.html' %}
{% load static %}
{% load normalize_title %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Combination Management</h2>
                <h5 class="text-muted">Edit a Combination</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
               <div class="combination-selecter">
                    <form class="combination-selecter" id="form" method="GET" action="">
                        {% csrf_token %}
                        <div class="row">
                            <label class="dropdown">Select a Combination: </label> 
                                <select name="combination_details" id="select">
                                    {% for combination in combinations %}               
                                        <option value="{{ combination.pk }}" data-product_id="{{ combination.pk }}" id="{{ combination.pk }}">
                                            {{ combination.name|normalize_title:'-' }} - {{ combination.option }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" id="submit-btn" class="rounded-0 text-uppercase bag">Get Combination</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        let submitButton = document.getElementById('submit-btn');
        let select = document.getElementById('select');
        let form = document.getElementById('form');
        
        // Event listeners
        submitButton.addEventListener('click', formSubmit);

        function formSubmit(event) {
            event.preventDefault()
            let url = '/products/combinations/'
            let pk = select.value
            form.action = url + pk;
            form.submit()
        }
    </script>
{% endblock %}
