{% extends 'base.html' %}
{% load static %}
{% load normalize_title %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    {% if user.is_superuser %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Combination Management</h2>
                    <h5 class="text-muted">Editing {{ combination.name|normalize_title:'-' }} - {{ combination.option }}</h5>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col">
                <div class="combination-editor">
                        <div class="col-12 col-md-6 mt-3">
                            <form action="{% url 'edit_combination' combination.pk %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy}}
                                <div class="text-right">
                                    <a href="{% url 'products' %}" class="btn rounded-0 text-uppercase">Cancel</a>
                                    <button class="rounded-0 text-uppercase bag" type="submit">Update Combination</button>
                                </div>
                            </form> 
                        </div>   
                </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="text-center mt-3">
                <h1 class="mb-0 mt-5 strong-text text-uppercase">Oops this page it not available</h1>
                <h4 class="mb-0 strong-text text-uppercase">Use this link to go back to products</h4>
                <a href="{% url 'products' %}">
                    <button class="rounded-0 text-uppercase bag mt-3 mb-3">Products</button>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
